
@inject AppDbContext context;
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var cart = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<List<CartItem>>("CartSession");
    var CurrentAccount = _signInManager.UserManager.GetUserAsync(User).Result;

    var MaxSale = context.Products.ToList().Max(x => x.SaleCount);
    Product ProductTop = context.Products.FirstOrDefault(el => el.SaleCount == MaxSale);
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/BusinessLayout/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/BusinessLayout/css/modern-business.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-action="Index" asp-controller="CustomerHome">Motobike Shop</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="CustomerHome">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Danh Mục
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            @foreach (var item in context.Categories.ToList())
                            {
                                <a class="dropdown-item"
                                   asp-action="WatchProducts" asp-controller="CustomerHome" asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            }
                        </div>
                    </li>
                    @if (_signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Admin Page</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/Images/UserImages/@CurrentAccount.Avatar" style="height:20px" />
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                                <a class="dropdown-item text-info" asp-action="ChangePass" asp-controller="Account" asp-route-id="@CurrentAccount.Id">
                                    Đổi Mật Khẩu
                                </a>
                                <a class="dropdown-item text-danger" asp-action="Logout" asp-controller="Account">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-action="Login" asp-controller="Account" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Create" asp-controller="Account" class="nav-link">Register</a>
                        </li>
                    }
                    <li class="nav-item">
                        <!-- Cart -->
                        <a asp-action="WatchCart" asp-controller="CustomerHome" class="nav-link">
                            <i class="fa fa-shopping-cart" aria-hidden="true" style="color:red"></i>
                            <span style="color:red;padding-left:1px;" id="CartNum">
                                0
                            </span>
                        </a>
                        <!--end Cart -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url('/Images/ProductImages/backgroundfooter.jpg')">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>First Slide</h3>
                        <p>This is a description for the first slide.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/Images/ProductImages/BackgroundSlide2.jpg') ">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Second Slide</h3>
                        <p>This is a description for the second slide.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url('/Images/ProductImages/BackgroundSlide3.jpg') ">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Third Slide</h3>
                        <p>This is a description for the third slide.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4" style="text-align:center">Mua Bán Xe Máy Cào Cào Trên Toàn Cầu</h1>
        <h3 class="my-4" style="text-align:center">Uy Tín - Chất Lượng</h3>

        <!-- Marketing Icons Section -->
        <!-- /.row -->
        <!-- Portfolio Section -->
        <div class="row">
            @RenderBody()
        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Sản Phẩm Bán Chạy Nhất</h2>
                <p>Thống kê trong tháng:</p>
                <ul>
                    <li>Lượt truy cập</li>
                    <li>Lượt mua</li>
                    <li>Lượt đặt hàng</li>
                </ul>
                <p>Tên sản phẩm: <strong>@ProductTop.Name</strong></p>
                <p>Giá sản phẩm: <strong>@ProductTop.PricePerUnit.ToString("N0")</strong></p>
                <a href="javascript:void(0)" onclick="CustomerCart.AddItem(@ProductTop.Id)" class="btn btn-style btn-primary">
                    Thêm Vào Giỏ Hàng
                </a>
                <small>Số lượng </small><input type="number" class="btn btn-style border-btn text-info" id="@ProductTop.Id" style="width:100px" value="1" />
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" alt=""
                     src="~/Images/ProductImages/@ProductTop.ImagePath">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/BusinessLayout/vendor/jquery/jquery.min.js"></script>
    <script src="~/BusinessLayout/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
    <!-- JavaScript for Cart -->
    <script src="~/js/CustomerCart.js"></script>
    <!-- /.JavaScript for Cart -->
    @RenderSection("Scripts", required: false)
</body>

</html>


